<div class="row">
  <div class="col text-center">
    <h1 class="bps">Active Trades</h1>

    <h2 class="bps">Bull Put Spreads</h2>
    <%= render 'shared/bps' %>

    <h2 class="bps">Short Puts</h2>
    <%= render 'shared/shortput' %>
  </div>
</div>